:root {
    --color-blue: #48C5CE;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
    background-color: var(--color-blue);
    color: white;
    text-align: center;
    padding: 10px;
   
}

header > h1 {
    font-size: 26px;
}

main {
    color: white;
    padding: 20px;
    background-image: url('../imagens/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    background-color: rgba(255, 255, 255, 0.61);
    max-width: 230px;
    padding: 20px;
    float: right;
   
}

@media screen and (max-width: 500px) {
    .formContainer {
        background-color: rgba(255, 255, 255, 0.61);
        max-width: 100%;
        padding: 20px;
    }
}
.marginB {
    margin-bottom: 15px;
}

input,select { 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 5px;
   
}

input[type = "submit"] {
    background-color: var(--color-blue);
    color: white;
    font-weight: bold;
}

select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-image: url(../imagens/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

footer {
   text-align: center;
   padding: 40px;
   background-color:#202121;
   max-width: px;
   margin: auto;
}


.footerBox {
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 20px;
    text-align: left;
}
.footerBox > h3 , p {
    margin-bottom: 20px;
    
}

.footerBox > h3 {
    font-size: 24px;
}

.foto {
    width: 160px;
}

@media screen and (max-width: 500px) {
    .foto {
        width: 160px;
        float: left;
    }

    .footerBox > h3 , p  {
        
        
    }
}
